#wrapwrap {
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}

.home-page {
  background: #EBF7FF;
  margin-bottom: -350px;
  padding-bottom: 350px;

}

a {
  transition: .3s ease-in-out;

  &:hover {
    color: var(--primary);
  }
}

.text-justify {
  text-align: justify;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.black-overlay, .secondary-overlay, .primary-overlay, .primary-linear-gradient-overlay {
  position: relative;

  &::after, &::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
  }

  > *:not(img) {
    position: relative;
    z-index: 3;
  }
}

.black-overlay::after {
  background: #00000072;
}

.primary-overlay::after {
  background: var(--primary);
  mix-blend-mode: hard-light;
  opacity: .3;
}

.secondary-overlay::after {
  background: var(--secondary);
  mix-blend-mode: color;
}

.bg-shadow-s, .bg-shadow-e {
  position: relative;
  z-index: 2;

  &::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    content: "";
    z-index: 1;
    background: rgba(0, 0, 0, 0.7);
  }

  > * {
    position: relative;
    z-index: 3;
  }
}

@media (min-width: 992px) {
  .bg-shadow-s::after {
    background: linear-gradient(90deg, var(--black), transparent);
  }
  .bg-shadow-e::after {
    background: linear-gradient(-90deg, var(--black), transparent);
  }
}

.primary-header {
  display: inline-block;
  border-bottom: #fff 1px solid;
  color: var(--secondary) !important;
}

.o_rtl .owl-carousel {
  direction: rtl;
}

.home-page .owl-carousel .owl-nav {
  .owl-prev, .owl-next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;
    border: 2px solid #fff;
    border-radius: 50%;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background-color: transparent !important;
    transition: 0.3s ease-in-out;

    &:hover {
      background-color: #fff !important;
      color: var(--primary) !important;
    }

    span {
      margin-bottom: 7px;
    }
  }

  .owl-prev {
    left: 0;
    transform: translate(-150%, -50%);
  }

  .owl-next {
    right: 0;
    transform: translate(150%, -50%);
  }
}
