#wrapwrap {
  scroll-behavior: smooth !important;
  overflow-x: hidden;
}

a {
  transition: .3s ease-in-out;

  &:hover {
    color: var(--primary);
  }
}

.text-justify {
  text-align: justify;
}

.bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
