//------------------------------------------------------------------------------
// nav
//------------------------------------------------------------------------------
header#top nav.ptech-mobile-nav {
  background: #002054;

  #top_menu_collapse_mobile {
    background: #002054;

  }
}

header#top nav.ptech-nav {
  background: #002054;
  padding: 0;

  a, button {
    color: #fff;
  }

  .navbar-brand img {
    height: 85px;

  }

  @media (min-width: 992px) {

    #o_main_nav {
      .navbar-nav {
        .nav-item {
          .nav-link {
            position: relative;
            padding: 40px 12px;
            margin: 0 4px;
            z-index: 1;

            &::before {
              position: absolute;
              width: 100%;
              height: 100%;
              top: 0;
              left: 0;
              content: '';
              z-index: -1;
              transform: skewX(10deg);
              opacity: 0;
              transition: all .3s ease-in-out;
              background: var(--primary);
            }

            &.active::before, &:hover::before {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}

//------------------------------------------------------------------------------
// footer
//------------------------------------------------------------------------------
footer#footer {
  position: relative;
  z-index: 2;

  .top-svg, .bottom-svg, .mid-svg {
    position: absolute;
    z-index: 3;
    transform: rotateY(180deg) translateY(-25%);
  }

  .top-svg {
    top: 0;
    left: 0;
  }

  .mid-svg {
    top: 70%;
    left: 0;
  }

  .bottom-svg {
    bottom: 10%;
    right: 0;
  }

  .ptech-footer {
    position: relative;
    z-index: 2;
    padding-top: 260px;

    > * {
      position: relative;
      z-index: 10;
    }


    &::before {
      position: absolute;
      top: 140px;
      left: 0;
      z-index: 1;
      content: '';
      width: 100%;
      height: 150%;
      background: linear-gradient(270deg, #0D346C -4.42%, #1692E9 222.91%);
      transform: skewY(8.5deg);
    }

    .logo img {
      width: 200px;
      height: auto;
    }

    .s_social_media {
      display: flex;
      justify-content: space-between;
      align-items: center;

      a {
        color: #fff;
        border-radius: 10px;
        background: rgba(255, 255, 255, 0.20);
        display: flex;
        width: 40px;
        height: 40px;
        justify-content: center;
        align-items: center;
        gap: 10px;
      }
    }
  }
}

//------------------------------------------------------------------------------
// home page
//------------------------------------------------------------------------------
#landingCarousel {
  .carousel-indicators {
    bottom: 25px;

    [data-bs-target] {
      height: 14px !important;
      width: 14px !important;
      border-radius: 50%;
      border: none !important;
      margin: 0 8px;


      &.active {
        background: var(--primary);
      }
    }
  }

  .carousel-item {
    height: 80vh;
    display: flex;

    #slide_1::before {
      background-image: url("../img/landing-1.png");

    }

    #slide_2::before {
      background-image: url("../img/landing-2.png");
    }

    #slide_3::before {
      background-image: url("../img/landing-3.png");
    }

    #slide_3, #slide_2, #slide_1 {

      &::before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        right: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-repeat: no-repeat;
        transform: rotateY(180deg);

      }

      &.bg-shadow-e::before {
        background-position: 90% 50%;
      }

      &.bg-shadow-s::before {
        background-position: 10% 50%;
      }
    }
  }
}

#counter {
  .counter-container {
    position: relative;
    z-index: 5;
    margin-top: -25px;
    border-radius: 24px;
    background: #FFF;
    box-shadow: -1px 6px 13.8px 0px rgba(22, 147, 235, 0.37);
  }
}

#vision {
  position: relative;
  z-index: 1;
  background: #EBF7FF;

  > * {
    position: relative;
    z-index: 1;
  }

  &::before {
    position: absolute;
    content: "";
    top: -140px;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: #EBF7FF;
    transform: skewY(-10deg);
  }
}

#why {
  .why-card {
    background-image: url('../img/why-card.png');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
    position: relative;
    z-index: 1;
    padding: 24px;
    border-radius: 10px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
    background-color: white;
    height: 100%;
    max-width: 300px;
    margin: auto;

    svg {
      z-index: 3;
      position: absolute;
      top: 0;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  }
}

#services {
  position: relative;
  z-index: 0;
  margin-top: -100px;
  margin-bottom: 350px;

  > * {
    position: relative;
    z-index: 1;
  }

  img.services-bg {
    position: absolute;
    content: "";
    z-index: -1;
    top: 50%;
    left: 0;
    width: 100%;
    transform: rotateY(180deg) translateY(-50%) scale(3);
  }

  @media (min-width: 767px) {
    img.services-bg {
      transform: rotateY(180deg) translateY(-50%);
    }
  }

  .owl-item {
    height: 100% !important;

    .service-card {
      background-image: url('../img/why-card.png');
      background-size: cover;
      background-position: center top;
      background-repeat: no-repeat;
      padding: 24px;
      border-radius: 10px;
      box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.25);
      background-color: white;
      margin: 4px;
      min-height: 285px;

      img {
        width: 25%;
      }

      h5 {
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 1;
        margin: 8px 0 0;
      }
    }

    @media (min-width: 992px) {
      .service-card {
        min-height: 300px;
      }
    }
  }

  .owl-nav {
    .owl-prev, .owl-next {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      color: var(--primary);
      border: 2px solid var(--primary);
      border-radius: 50%;
      font-size: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 40px;
      width: 40px;
      background-color: transparent !important;
      transition: 0.3s ease-in-out;

      &:hover {
        background-color: var(--primary) !important;
        color: #fff !important;
      }

      span {
        margin-bottom: 7px;
      }
    }

    .owl-prev {
      left: 0;
      transform: translate(-150%, -50%);
    }

    .owl-next {
      right: 0;
      transform: translate(150%, -50%);
    }
  }
}

#odoo_apps {
  .apps_container {
    border-radius: 24px;
    background: #F3F4F6;
  }

  a {
    img {
      transition: .3s ease-in-out;

      &:hover {
        box-shadow: 0 12px 16px 0 #009fe3a3 !important;
      }
    }

  }
}